@import url(/reset.css);

@layer utilities {
    h1 {
        text-align: center;
    }

    .main>input {
        width: fit-content;
        margin: 1em auto;
    }

    input {
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
    }

    input:hover {
        background-color: white;
        color: var(--secondary-color);
        transition: all 0.3s ease;
    }

    input:focus,
    select:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--secondary-color);
        transition: all 0.3s ease;
    }
}

:root {
    --secondary-color: #DB5C1A;
}

header {
    padding: 1em;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
}

body {
    background-color: #f8f8ff
}


main {
    & .main {
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    & .container-books {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);

        & .card {
            border-radius: 0.5em;
            padding: 1em;
            width: fit-content;
            box-shadow:
                0 14px 28px rgba(0, 0, 0, 0.25);

            & li {
                margin-bottom: 0.5em;
            }
        }
    }
}

dialog {
    margin: auto;
    padding: 1.5em;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & .buttons {
        display: flex;
        justify-content: space-evenly;
    }

}